@font-face {
    font-family: 'bangers';
    src: url('../assets/fonts/bangers.ttf') format('truetype')
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "bangers", sans-serif;
    display: grid;
    place-items: center;
    background-image: url("../assets/img/1_environments/1.png");
    background-position: center;
}

.d-none {
    display: none;
}

#game-container {
    width: 100%;
    max-width: 720px;
    aspect-ratio: 3 / 2;
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
}

.controls-container {
    position: absolute;
    top: 5px;
    left: 15px;
    z-index: 100;
}

.btn-container {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    column-gap: 15px;
    cursor: pointer;
    z-index: 100;
}

.btn {
    color: #000;
    background: linear-gradient(90deg, #EBA834 0%, #D76D29 50%, #9C1D1C 100%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.btn-rect {
    font-size: 32px;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn-round img {
    width: 24px;
    height: 24px;
}

#btn-start {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 99;
}

#start-screen-container{
    width: 100%;
    height: 100%;
    position: relative;
}

#end-screen-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

#start-screen,
#lose-screen {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#win-screen {
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-container-end-screen {
    display: flex;
    column-gap: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}

#rotate-message-container {
    display: none;
}

#rotate-message {
    padding: 0 20px;
}

.btn-mobile {
    position: absolute;
    cursor: pointer;
    bottom: 10px;
}

#btn-mobile-left {
    left: 10px;
}

#btn-mobile-right {
    left: 70px;
}

#btn-mobile-up {
    right: 70px;
}

#btn-mobile-throw {
    right: 10px;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
    #rotate-message-container {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 1);
        color: white;
        font-size: 2rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 99;
    }

    #game-container {
        display: none;
    }
}

@media screen and (max-width: 700px) and (orientation: landscape) {
    #game-container {
        max-width: unset;
        width: auto;
        height: 100svh;
    }
}